main
{
    flex: 1;
    overflow-y: scroll;
}

body
{
    overflow: hidden;
}

main::-webkit-scrollbar 
{ 
    width: 0 !important; 
}

button:focus
{
    outline: none;
}

#app-title
{
    background-color:rgb(56, 56, 56);
    color: white;
    font-size: 3rem;
    font-family: 'Lobster', cursive; 
}

.flex-container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 104px - 5rem);
}

.controls-container
{
    display: flex;
    justify-content: center;
    height: 5rem;
}

.album-art-container
{
    text-align: center;
    background-color: rgb(66, 66, 66);
}

.album-art
{
    background-image: url("../images/no-album-art.jpg");
    background-size: cover;
    width: 20rem;
    height: 20rem;
    display: inline-block;
    margin-bottom: 7rem;
}

.song-name
{
    margin-top: 7rem;
    color: white;
}

div.card-body
{
    background-color: rgb(85, 85, 85);
}

div.card-header
{
    background-color: rgb(37, 37, 37);
    border: none;
}

.nav-link.songs-list-category
{
    background-color: gray;
}

.nav-tabs .nav-link.active.songs-list-category
{
    background-color: rgb(85, 85, 85);
    color: white;
    border-color: transparent; 
}

.player-container
{
    width: 100vw;
    height: 100vh;
    display: inline-block;
}

.player-container.card
{
    border: none;
}

.footer-element
{
    margin: auto;
}

.card-container
{
    text-align: center;
}

/* Button Stylings */

/* Removing outlines on the button */
.song-button:focus
{
    outline: none;
}

.category:focus
{
    outline: none;
}

.song-button
{
    display: flex;
    flex-direction: row;
}

.song-button:hover
{
    cursor: pointer;
}

.play-song-button
{
    display: inline-block;
}

.list-group-item.song-button
{
    text-align: left;
    background-color: gray;
    color: white;
}

.modify-icon
{
    background-size: cover;
    height: 2rem;
    width: 2rem;
    float: right;
}

.add-to-playlist-button
{
    background-image: url("../images/icons/plus-icon.png");
}

.remove-from-playlist-button
{
    background-image: url("../images/icons/remove-icon.png")
}


#play-button
{
    background-image: url("../images/icons/play-icon.png");
}


#next-button
{
    background-image: url("../images/icons/next-icon.png");
}

#previous-button
{
    background-image: url("../images/icons/next-icon.png");
    transform: rotate(180deg);
}

.control-button
{
    height: 4rem;
    width: 4rem;
    background-size: cover;
    margin: auto;
}

.song-list-container.card
{
    border: none;
}

.control-bar.card-footer
{
    background-color: rgb(56, 56, 56);
}

.control-button:hover
{
    cursor: pointer;
}

/* Utility Classes */
.center-in-div
{
    display: flex;
    justify-content: center;
}